<h1>Admin Dashboard</h1>

<h2>Users</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to 'View', admin_show_user_path(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Categories</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%= link_to 'Edit', edit_admin_category_path(category) %>
         <%= form_with(url: admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }) do |form| %>
  <%= form.submit 'Remove' %>
<% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Category', new_admin_category_path %>

<h2>Admins</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.name %></td>
        <td><%= admin.email %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Products</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td>
        <%= link_to 'View', admin_product_path(product) %>


        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Admin', admin_new_admin_path %>
<%= link_to 'Add Product', admin_new_product_path %>
