<h1>Product Details</h1>

<div>
  <h3>Name:</h3>
  <p><%= @product.name %></p>
</div>

<div>
  <h3>Description:</h3>
  <p><%= @product.description %></p>
</div>

<div>
  <h3>Price:</h3>
  <p><%= @product.price %></p>
</div>

<div>
  <h3>Category:</h3>
  <p><%= @product.category.name %></p>
</div>

<div>
  <h3>Images:</h3>
  <% @product.images.each do |image| %>
    <% if image == @product.images.first %>
      <%= image_tag(image.file_url(:thumbnail)) %> <b>(Thumbnail)</b>
    <% else %>
      <%= image_tag(image.file_url(:large)) %>
    <% end %>
  <% end %>
</div>

<%= link_to 'Back', admin_products_path %>
<%= link_to 'Edit', edit_admin_product_path(@product) %>
