<!DOCTYPE html>
<html>
<head>
  <title>Canadian Agri Tech</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Include Bootstrap CSS -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>
<body>
  <!-- Header section -->
  <header class="header-section">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <!-- Logo -->
        <<!-- Logo -->
<a class="navbar-brand" href="<%= root_path %>">
  <%= image_tag 'logo.png', alt: 'Project Image', class: 'img-fluid logo-image' %>
</a>


        <!-- Navigation links -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <!-- Add your navigation links here -->
            <!-- Home -->
            <li class="nav-item <%= 'active' if current_page?(root_path) %>">
              <a class="nav-link" href="<%= root_path %>">Home</a>
            </li>
            <!-- Products -->
            <li class="nav-item <%= 'active' if current_page?(products_path) %>">
              <a class="nav-link" href="<%= products_path %>">Products</a>
            </li>
            <!-- Categories Dropdown -->
            <li class="nav-item dropdown <%= 'active' if current_page?(categories_path) %>">
              <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
                <!-- Add your categorized products links here -->
                <!-- Example: -->
                <a class="dropdown-item" href="#">Category 1</a>
                <a class="dropdown-item" href="#">Category 2</a>
              </div>
            </li>
            <!-- Testimonials -->
            <li class="nav-item <%= 'active' if current_page?(testimonials_path) %>">
              <a class="nav-link" href="<%= testimonials_path %>">Testimonials</a>
            </li>
            <!-- Contact -->
            <li class="nav-item <%= 'active' if current_page?(contact_path) %>">
              <a class="nav-link" href="<%= contact_path %>">Contact</a>
            </li>


            <!-- About Us -->
            <li class="nav-item <%= 'active' if current_page?(about_path) %>">
              <a class="nav-link" href="<%= about_path %>">About Us</a>
            </li>
            <!-- Support Dropdown -->
            <li class="nav-item dropdown <%= 'active' if current_page?(support_path) %>">
              <a class="nav-link dropdown-toggle" href="#" id="supportDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Support
              </a>
              <div class="dropdown-menu" aria-labelledby="supportDropdown">
                <a class="dropdown-item" href="#">Warranties</a>
                <a class="dropdown-item" href="#">FAQs</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="<%= support_path %>">Support Page</a>
              </div>
            </li>
  <ul class="navbar-nav ml-auto">
        <!-- Sign In -->
        <li class="nav-item <%= 'active' if current_page?(signin_path) %>">
          <a class="nav-link" href="<%= signin_path %>">Log In</a>
        </li>
        <!-- Cart -->
        <li class="nav-item <%= 'active' if current_page?(cart_path) %>">
          <a class="nav-link" href="<%= cart_path %>">Cart</a>
        </li>
      </ul>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <!-- Content section -->
  <div class="container">
    <%= yield %>
  </div>

  <!-- Include Bootstrap JS -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>